DASHSCOPE_API_KEY=sk-...
GSB_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
GSB_TEXT_MODELS=qwen3.5-plus,qwen3.6-plus,qwen3.6-flash,qwen3.6-flash-2026-04-16,qwen3.5-flash,qwen3.5-flash-2026-02-23,qwen3.5-35b-a3b,qwen3.6-35b-a3b,qwen3.5-122b-a10b,qwen3.5-397b-a17b,qwen3.6-27b,qwen3.6-plus-2026-04-02,qwen3.5-plus-2026-04-20,qwen3.5-plus-2026-02-15,deepseek-v4-flash
GSB_VISION_MODELS=qwen3.5-flash,qwen3.6-flash,qwen3.6-flash-2026-04-16,qwen3.5-flash-2026-02-23,qwen3.5-plus,qwen3.6-plus,qwen3.6-plus-2026-04-02,qwen3.5-plus-2026-04-20,qwen3.5-plus-2026-02-15,qwen3.5-122b-a10b,qwen3.5-35b-a3b,qwen3.6-35b-a3b,qwen3.5-397b-a17b,qwen3.6-27b,qwen3.6-max-preview
# Optional Wolfram override:
# GSB_WL_KERNEL=D:/Program Files/Wolfram Research/Wolfram/14.3/wolfram.exe
# GSB_WL_KERNEL=/Applications/Wolfram.app/Contents/MacOS/WolframKernel
